* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.navbar {
    background-color: #5c5e61;
    color: #fff;
    height: 140px;
    padding: 0px 25px;
}

.logo img {
    width: 150px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.header {
    background-color: #3b3c3d;
    color: #fff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.header-text {
    flex: 2 1 0%;
}


.boxes {
    background-color: #5c5e61;
    color: #fff;
}
.boxes .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
    gap: 20px;
    justify-content: center;
    align-items:flex-start
}

.box {
    background-color: #3b3c3d;
    height: 400px;
    max-width: 450px;
    border-radius: 10px;
    padding: 15px;
}

.box img {
    max-width: 300px;
    max-height: 200px;
}

.testimonials .container {
    text-align: center;
    background-color: #3b3c3d;
    color: #fff;
    padding: 20px;
}

.testimonials a {
    color: #fff;
}
.testimonials a:hover {
    color: rgb(94, 94, 221);
}

.book-now .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #5c5e61;
    color: #fff;
    padding: 30px;
}

.book-now button {
    padding: 10px 30px;
}
.book-now button {
    font-size: 20px;
    font-weight: bold;
    background-color: #ff9933;
    border-radius: 5px;
}
.book-now button a {
    text-decoration: none;
    color: #000;
}

.book-now button:hover {
    font-size: 20px;
    font-weight: bold;
    background-color: #ff3333;
    border-radius: 5px;
}

.footer {
    padding: 40px;
}

@media (max-width: 820px) {
    .navbar, .footer {
        height: 90px;
    }

    .footer{
        text-align: center;
        font-size: 10px;
    }

    .navbar .container{
        display: flex;
        gap: 10px;
    }
    .logo img {
        width: 100px;
        padding-right: 25px;
    }
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end;
        font-size: 15px;
        font-size: 12px;
    }
    .header .container {
        display: block;
    }
    .header-text {
        margin-bottom: 15px;
    }
    .header img {
        width: 300px;
    }
    .boxes .container {
        display: block;
    }
    .box {
        margin: auto;
        margin-bottom: 10px;
        width: auto;
    }
    .testimonials .container {
        display: block;
    }
    .book-now .container {
        display: block;
    }
    .book-now .c2a {
        margin-bottom: 20px;
    }
    
}